*{
    color: #283618;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6em;
}
body{
    background-color: #FEFAE0;
    display:block;
}
header{
    /*position: sticky;
    top:0;
    text-align: center;
    width:100%;
    background-color:#606C38;*/
    padding-top: .5em;
        padding-bottom: .5em;
        background-color: #606C38;
        box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.75);
        position: sticky;
        top:0;
        width: 100%;
        right:0px;
    
}
.nav{
    list-style: none;
}
.navbar{
    display: block;
    text-transform: uppercase;
    text-align: center;
    font-size: .99em;
    text-decoration: none;
    border: 3px solid #FEFAE0;
    background-color: #DDA15E;
    width: 15%;
    margin:auto;
    color: #FEFAE0;
    font-weight: bold;
    border-radius: 5px;
}
button{
    padding: 10px;
    margin: auto;
    background-color: #DDA15E;
    color: #FEFAE0;
    border-color: #FEFAE0;
    border-radius: 5px;
    font-weight: bold;
}
.btn{
    padding: 10px;
    margin: auto;
    background-color: #DDA15E;
    color: #FEFAE0;
    border-color: #FEFAE0;
    border-radius: 5px;
    font-weight: bold;
}
section{
    display: grid;
    width:fit-content;
    margin: 20px auto;
    padding: .5em;
    text-align: center;
    border-style: solid;
    border-color: #283618;
}

section1{
    top: -320px;
    right: -370px;
    width:fit-content;
    margin: 20px auto;
    padding: .5em;
    text-align: justify;
    border-style: solid;
    border-color: #283618;
}

h1{
    color: #283618;
}

a:hover{
    color: #606C38;
    border-color: #283618;
}

input{
    padding: 10px;
    margin: 5px;
}

.postTextarea{
    vertical-align: top;
}

.fileButton
{
    padding: 10px;
    margin: auto;
    background-color: #FEFAE0;
    color: #DDA15E;
    border-color: #DDA15E;
    border-radius: 5px;
    font-weight: bold;
    vertical-align: middle
}

/* The message box is shown when the user clicks on the password field */
#message {
    display:none;
    background: #FEFAE0;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    font-size: 15px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
    color: green;
}

.valid:before {
    position: relative;

    content: "•  ";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
    color: red;
}

.invalid:before {
    position: relative;

    content: "•  ";
}